


<div>
<h1>Layout:</h1>
<!-- <input  type='text' [(ngModel)]='setName' > -->
名稱:<input type='text' [(ngModel)]="setName"> 
<br>
內容:<input type='text' [(ngModel)]="setMessage"> 

<br>
<button (click)="newMessage()">新增留言</button>


<ul>
    <li *ngFor='let item of peopleInfo; let key=index;'>
        <br>
        編號：<b>{{key+1}}</b>

        <br>
        留言人：<b>{{item.showName}}</b>
        
        <br>
        留言內容：<b>{{item.showMessage}}</b>
        
        <br>
        時間：<b>{{ item.showDate | date:'yyyy-MM-dd HH:mm ss'}}</b>
    </li>
</ul>

</div>